name: crop-recommendation
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - flask
  - joblib
  - jupyter
  - flake8
  - pytest
  - pip
  - pip:
    - jupyterlab
